
.h-1, .h_1, .h1, h1{
  font-size: 2em;
}

.h-2, .h_2, .h2, h2{
  font-size: 1.5em;
}

.h-3, .h_3, .h3, h3{
  font-size: 1.17em;
}

.h-5, .h_5, .h5, h5{
  font-size: 0.83em;
}

.h-6, .h_6, .h6, h6{
  font-size: 0.67em;
}

.a, a {
  color: black !important;
  text-decoration: none !important;
}
