<div class="full_page">
  <div class="form_container">
    <ng-form #coursesearch class="form">

      <div class="custom_form">
        <div class="form_header_container">
          <h2 class="form_header">بحث عن قسم</h2>
        </div>
        <div class="form_section dept_search_section">

          <div class="form_row">

            <label class="form_element" for="courseSearch">بحث بواسطة : </label>
            <div class="form_element">
              <select class="select_box" name="searchway" id="searchWay " [(ngModel)]="choiseIndex" required>
                <option value=null>اختر طريقة البحث...</option>
                <option *ngFor="let way of searchWays; let i=index" value="{{i}} ">{{ way }}</option>
              </select>
            </div>

            <div class="form_element">
              <input class="text_input" id="searchValue " name="searchValue " type="text" [(ngModel)]="searchValue"
                required>
            </div>
          </div>

          <div class="form_row">

            <div class="form_element flex_center_center">
              <button class="btn" type="submit" (click)="search()"
                [disabled]="!searchValue || !choiseIndex || searchValue == 'null' || !authorizedList['department.search']">
                بحث
              </button>
            </div>

          </div>

        </div>

      </div>

    </ng-form>
  </div>

  <div class="form_row" *ngIf="searchingResult">

    <table *ngIf="searchingResult.length > 0" class="custom_table" role="grid">

      <thead class="tpart">
        <tr class="trow thead_trow">
          <th class="cell thead_cell">اسم القسم</th>
          <th class="cell thead_cell flex_center_center">الإسم الإنجليزي</th>
          <th class="cell thead_cell flex_center_center">تخصص الثانوية العامة</th>
          <th class="cell thead_cell flex_center_center"
            *ngIf="authorizedList['departments.show'] || authorizedList['departments.update'] || authorizedList['departments.destroy']">
          </th>
        </tr>
      </thead>

      <tbody class="tpart">
        <tr class="trow tbody_row" *ngFor="let dept of searchingResult">
          <td class="cell tbody_cell">{{dept.arName}}</td>
          <td class="cell tbody_cell flex_center_center">{{dept.enName}}</td>
          <td class="cell tbody_cell flex_center_center">{{dept.hSDept | highSchoolDeptPipe}}</td>
          <td class="cell tbody_cell flex_center_center"
            *ngIf="authorizedList['departments.show'] || authorizedList['departments.update'] || authorizedList['departments.destroy']">
            <a class="link_in_table" [routerLink]="[ '/show-department/', dept.id ]">عرض التفاصيل</a></td>
        </tr>
      </tbody>

    </table>

    <div *ngIf="searchingResult?.length == 0">
      <div class="requierd">
        هذه البيانات غير موجودة
        يرجي التأكد من قيمة البحث
      </div>
    </div>
  </div>
</div>
