@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');
*{
  // direction: ltr;
  text-align: right;
}
.card-title{
  font-size: 2em;
  text-align: center;
}
.program{
  font-size: 1.5em;
  font-weight: 400;
}